  <div class="mx-auto m-4 col-lg-3" style="width: 18rem;">
    <h2 class="mt-4">Stupid Coaching</h2>
    <form action="/answer" data-turbo="false" class="mt-4" >
      <input type="text" name="ask" placeholder="ask something"  class="p-3">
      <input type="submit" value="Ask" class="btn btn-primary p-3">
    </form>
</div>
